header {
  color: var(--white);
  background-image: url('../../assets/images/mobile/image-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 2.5em 1em;
}
.header-container {
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  header {
    background-image: url('../../assets/images/desktop/image-hero.jpg');
    max-height: 650px;
    padding: 4em 0;
  }
}
