header {
  color: var(--white);
  background-image: url('../../assets/images/mobile/image-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 2.5em 1em;
}
