nav {
  /* display: flex; */
  /* justify-content: space-between;
  align-items: center; */
  padding: 2.5em 1em;
}

nav.mobile-menu {
  background-color: black;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
}
.logo-and-hamburger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .mobile-links {
  display: block;
  margin: auto 0;
}
nav .mobile-links li {
  list-style: none;
  margin: 1em 0;
}
nav .mobile-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 300;
}

nav .menu-open {
  margin: auto;
}
.logo {
  width: 144px;
  height: 24px;
}
nav .hamburger {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav .desktop-links {
  display: none;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 1em;
  }

  nav .hamburger {
    display: none;
  }

  nav .desktop-links {
    display: flex;
    list-style: none;
    gap: 2em;
  }
  .desktop-links a {
    text-decoration: none;
    color: var(--white);
    position: relative;
  }
  .desktop-links a:hover::after {
    content: '';
    /* display: block; */
    position: absolute;
    top: 20px;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 60%;
    height: 2px;
    background-color: var(--white);
    margin: 0 auto;
    transition: all 3s ease-in-out;
  }
}
